body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Necessário para os pseudo-elementos funcionarem */
    color: white; /* Texto em branco para contraste */
}

body::before, body::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 300px; /* Ajuste a largura aqui */
    background-size: contain; /* Ajusta para que a imagem se encaixe */
    background-repeat: no-repeat;
    z-index: -1; /* Fica atrás do conteúdo do body */
}

body::before {
    background-image: url('https://github.com/Daiury/babe/main/hp.jfif');
    left: 0; /* Posiciona à esquerda */
    background-position: center;
}

body::after {
    background-image: url('https://github.com/Daiury/babe/main/hp.jfif');    right: 0; /* Posiciona à direita */
    background-position: center;
}


.container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo semi-transparente */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    max-width: 90%; /* Limitar a largura no mobile */
}

h1 {
    color: #e43f25; /* Cores do SPFC */
    font-size: 2em; /* Tamanho da fonte maior */
}

@keyframes magical {
    0% { opacity: 0; transform: translateY(-20px); }
    50% { opacity: 1; transform: translateY(10px); }
    100% { opacity: 0; transform: translateY(0); }
}

#cantada {
    font-size: 1.5em;
    margin: 20px 0;
    animation: magical 2s ease-in-out infinite; /* Animação mágica */
}

button {
    background-color: #e43f25; /* Cores do SPFC */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #c92d1f; /* Tom mais escuro para hover */
}

/* Media Queries para Responsividade */
@media (max-width: 600px) {
    h1 {
        font-size: 1.5em; /* Reduzir tamanho do título */
    }
    
    #cantada {
        font-size: 1.2em; /* Reduzir tamanho do texto da cantada */
    }

    button {
        padding: 8px 16px; /* Ajustar o padding do botão */
        font-size: 0.9em; /* Reduzir tamanho da fonte do botão */
    }
}
